.navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  z-index: 10;
}

body {
  font-family: "Fredoka One", cursive;
}

h1 {
  text-transform: uppercase;
}

/* navabrTest spacing */
/* .navbar-brand {
  display: inline;
  padding-right: 3px;
} */

#about {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
#about-title {
  padding: 50px;
}

#about-body {
  padding: 50px;
  border: 2px solid black;
  margin: 20px;
}
.jumbotron {
  margin-bottom: 5rem;
}

.video,
.carousel {
  height: 30rem;
  background-color: #000;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  text-align: center;
  background-color: #000;
  color: #fff;
}

/* Banner CSS */
.banner-title {
  padding: 40px;
}
/* Icon CSS */

.services-container {
  text-align: center;
  padding-top: 20px;
}

.service-boxes {
  display: flex;
  justify-content: center;
  justify-self: center;
  flex-wrap: wrap;
  max-width: 1150px;
  margin: auto;
  margin-bottom: 5rem;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(179, 179, 179, 0.6),
    rgba(255, 255, 255, 1)
  );
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
.service-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 300px;
  margin: 2rem auto;
}

.services-title {
  padding: 20px;
  font-weight: bold;
}
.service-icon {
  padding-bottom: 20px;
  transition: all ease 0.5s;
}

.service-icon:hover {
  transform: scale(1.75);
  /* opacity: 0.7; */
}

.liked-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: orangered;
  cursor: pointer;
  padding-top: 20px;
}

.liked-container:hover {
  color: #000;
  background-color: orangered;
}

footer {
  background-color: #000;
  color: #fff;
}

footer .container {
  margin-left: 0;
}
