.navbar {
  display: flex;
}

.video,
.carousel {
  height: 30rem;
  background-color: #000;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  text-align: center;
  background-color: #000;
  color: #fff;
}
